@page "{id}"
@model WaitingListBot.Web.Areas.Identity.Pages.WaitingListModel
@{
    var tableClass = "";
    var playerNameClass = "";
    if (Model.Minimal)
    {
        Layout = "/Pages/Shared/_Minimal.cshtml";
        tableClass = "table-dark";
        playerNameClass = "badge badge-secondary";
    }
    else
    {
        tableClass = "";
    }
    ViewData["Title"] = "Waiting List";
}
@if (!Model.Minimal)
{
    <h1 class="my-0"><img src="@Model.GuildIconUrl" alt="@Model.GuildName" style="height: 1.5em;" />@Model.GuildName</h1>
}
<table id="userList" class="table @tableClass" v-if="user.counter > 0">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Player</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(user, index) in users">
            <th scope="row">
                {{increment(index)}}.
            </th>
            <td><span class="@playerNameClass">{{user.name}}</span> <span class="badge badge-primary" v-if="user.isSub">Sub</span> <span v-if="user.counter > 0" class="badge badge-warning">Played {{user.counter}} time<span v-if="user.counter > 1">s</span></span></td>
        </tr>
    </tbody>
</table>
@if (!Model.Minimal)
{
    <a asp-route-minimal="true">Minimal version</a>
}
<script type="text/javascript">
        const app = Vue.createApp({
            data() {
                return {
                    users: []
                }
            },
            methods: {
               async reloadData() {
                    var res = await fetch('/WaitingList/@(Model.Id)?handler=data', {
                        method: 'get',
                        headers: {
                            'content-type': 'application/json'
                        }
                    })
                    // a non-200 response code
                    if (!res.ok) {
                        // create error instance with HTTP status text
                        const error = new Error(res.statusText);
                        error.json = res.json;
                        throw error;
                    }
                    this.users = await res.json();
                },
                increment(index) {
                    return index + 1;
                }
            }
        });
        const vm = app.mount('#userList');
        vm.reloadData();
        window.setInterval(vm.reloadData, 1000);
</script>